DB_NAME=mdpproject             
DB_USER=root                
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=mysql

# Gemini AI Key Setting
GEMINI_API_KEY=MASUKKAN_API_KEY_GEMINI_TIM_DI_SINI
GEMINIMODEL=gemini-2.5-flash

# JWT settings
JWT_SECRET=MASUKKAN_SECRET_KEY_UNTUK_JWT
JWT_EXPIRES=1h
SALTROUNDS=10